{ padding:0px;
      margin:0px;
	}  
	#header {
	   margin:auto;
	   width:1000px;
	} 
	ul,ol {
	        list-style:none;
		}	
	.nav li a {
         	background-color:black;
			color:white;
			text-decoration:none;
			padding:10px 50px;
		    display:block;
			}
			
	.nav li a:hover {
	        background-color:yellow;
            	
			}
    .nav > 	li {
            float:left;
            }	
	.nav	li	ul {
	        display:none;
			position:absolute;
			min-width:140px;
			}
	.nav   li:hover > ul{
	       display:block;
		   }
	.nav li ul li {
			position:relative;
			}
	.nav  li ul li ul {
	       	right:-140px;
			top:0px;
			}
	